
header {
    /* position: fixed; */
    grid-area: header;
    background-color: teal;
    height: 60px;

    /* changed! */
    /* text-align: center; */
}

/* changed! */
header h1 {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
}

#navBar {
    position: relative;
    grid-area: navBar;
    /* padding-top: 25px; */

    /* changed! */
    /* text-align: end; */
    /* background-color: teal; */
    display: block;
    background-color: transparent;
    text-align: center;
    align-self: baseline;
    

}

#navBar a {
    position: relative;
    grid-area: navBarLinks;
    text-decoration: none;
    padding: 24px 10px 10px 10px;
    color:white;

    /* changed! */
    /* font-size: 20px; */
    /* display: inline-block; */
    display: block;
    font-size: 16px;
}

#navBar a:hover {
    /* background-color: rgb(1, 119, 119); */
    color: rgb(235, 200, 134);;
}

/* https://stackoverflow.com/questions/56839154/how-do-i-animate-a-link-underline-to-the-width-of-the-link-not-the-ul */
#navBar a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    transition: width 0.5s;
    /* changed! */
    background-color: rgb(235, 200, 134);
    /* background-color: black; */

  }
  
#navBar a:hover::after {
    width: 100%;
}

/* #currentSite { */
    /* changed! */
    /* background-color: rgb(1, 119, 119); */
    /* background-color: black; */

    /* width: 0; */
    /* height: 2px; */
    /* background-color: rgb(235, 200, 134); */
    /* display: block; */
    /* transition: width 0.5s; */
/* } */

/* #navBar a:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 7px;
  left: 7px;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

#navBar a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  } */




/*#searchDiv*/button:hover {
    background-color: wheat;
}

#searchDiv {
    grid-area: search;
    padding-top: 21px;

    /* changed! */
    text-align: center;
    /* background-color: teal; */

    background-color: teal;
    align-self: baseline;
    /* text-align: end; */
    overflow: hidden;
}

/*#searchDiv*/input, button {
    padding: 5px;
    border-radius: 10px;
    border-style: double;
}
input {
    width: 10vw;
}

/* #mainPage {
    grid-area: mainPage;
    margin-left: auto;
    margin-right: auto;
} */

#tvShows, #StvShows, #FtvShows {
    /* margin-left: 30px; */
    color: white;
    width: 100%;
    text-align: center;
    grid-area: tvShows;
    /* margin-left: 10px; */
    margin-left: auto;
    margin-right: auto;
}

#movies, #Smovies, #Fmovies {
    /* margin-left: 30px; */
    color: white;
    width: 100%;
    text-align: center;
    grid-area: movies;
    /* margin-left: 25px; */
    margin-right: auto;
}

/* #StvShows, #Smovies{ */
    /* text-align: center; */
    /* margin-left: 50%; */
    /* margin-right: auto; */
/* } */


.content_img {
    /* display: table; */
    position: relative;
    float: left;
}

.content_img img {
    opacity: 1;
    display: block;
    width: 200px;
    padding: 10px;
    height: 300px;
    opacity: 1;
    transition: .5s ease;
}

.content_img p {
    visibility: hidden;
    position: absolute;
    font-weight: bold;
    color: white;
    top: 40%;
    width: 100%;
    text-align: center;
}

.content_img img:hover {
    opacity: 0.3;
}

.content_img img:hover + p {
    visibility: visible;
}

.content_img p:hover{
    opacity: 0;
    visibility: visible;
}

footer {
    grid-area: footer;
    background-color: teal;
    text-align: center;
    padding: 20px;
    position: static;
}

/* @media screen and (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: 20% 30% 50%;
        grid-template-areas: 
        "header header search"
        "navBar mainPage mainPage"
        "footer footer footer"
        ;
        background-color: wheat;
    }
    /* #navBar {
        align-self: baseline;
        background-color: rgb(0, 110, 110);
    }

    #navBar a{
        display: block;
        text-align: center;
    }

    header h1 {
        margin-left: 40px;
    } */
/* } */ 


.otherBody {
    margin: 0%;
    /* background-color: rgb(8, 143, 143); */
    background: black;
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: 80px 250px;
    /* grid-template-areas:  */
    /* "header search search" */
    /* "navBar tvShows tvShows" 
    "addDiv tvShows tvShows" */
    /* "navBar movies movies"
    "addDiv movies movies" */

    /* "footer footer footer" */
    /* ; */
}

/* #add:hover { */
    /* width: 90%; */
    /* background-color: tomato; */
/* } */

#add {
    /* align-self: baseline; */
    background-color: rgb(1, 105, 105);
    grid-area: addDiv;
    display: block;
    text-align: center;
    /* width: 17vw; */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* width: 100px; */
    border-style: double;
    overflow: hidden;
    visibility: visible;
    /* justify-content: space-around; */
    align-self: baseline;
    

}

#add input {
    width: 80%;
    margin: 2px;
    /* overflow: scroll; */
    /* visibility: hidden; */
}

#add button {
    /* visibility: hidden; */
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* #description {
    color: white;
    width: 100%;
    /* text-align: center; */
    /* grid-area: movies; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* text-align: center; */
    /* grid-area: description; */
/* } */

/* #description h1 {
    text-align: center;
    /* width: 100%; */
/* } */

#description_img {
    /* padding: 30px 0px 0px 30px; */
    padding: 30px;
    /* width: auto;
    height: 400px; */
    grid-area: dImg;
    /* background-color: turquoise; */
}

#description_img img {
    width: 100%;
    height: auto;
}

#description_title {
    grid-area: dTitle;
    color: white;
    margin-left: 20%;
    /* row-gap: 0px; */
    /* background-color: tomato; */
    /* height: 100px; */
    /* text-align: center; */
    /* align-items: baseline; */
    display: inline-block;

}

#description_area {
    /* display: inline-block; */
    /* row-gap: 10px; */
    padding: 40px;
    grid-area: dArea;
    color: white;
    /* background-color: violet; */

    /* margin-top: -100px; */
    /* align-items: baseline; */
}

#description_body {
    /* margin: 0%; */
    /* background-color: rgb(8, 143, 143); */
    /* background: blue; */
    display: grid;
    /* grid-row-gap: 0; */


    grid-template-columns: 20% 30% 50%;
    grid-template-areas: 
    "header header search"
    "navBar dArea dArea"
    "dImg dImg dArea2"
    /* "dImg dArea dArea2" */
    /* "dImg dArea dArea2" */
    /* "dImg dArea dButtons" */
    "footer footer footer"
    ;
}

#searchDiv {
    /* background-color: transparent; */
    padding: 21px 0px 10px 0px;
}

/* https://www.hongkiat.com/blog/css-heart-shape/ */



/* #favoriteItem { */
    /* border-radius: 10px; */
    /* border-style: double; */
/* } */

textarea {
    /* padding: 100px; */
    width: 90%;
    height: 50px;
    background-color: transparent;
    color: white;
}

#description_content {
    /* grid-area: dContent; */
    /* background-color:wheat; */
    /* margin: 0; */
    padding: 0px 0px 0px 0px;
    /* display: inline-block; */

}


#description_content > ul > li {
    display: table;
    padding: 5px;
    /* width: auto; */
    /* height: auto; */
    text-align: center;
    /* border-style: double; */
    border-radius: 5px;
    background-color: teal;
    color: white;
}

#description_content ul > li > ol{
    padding: 20px 20px 20px 50px;
    text-align: start;
    display: table;
    background-color: black;
    color: silver;
}

/* #description_buttons { */
    /* grid-area: dButtons; */
    /* background-color: white; */
/* } */

#description_add {
    /* margin: 0; */

    /* background-color: blueviolet; */
    /* grid-area: dAdd; */
    /* display: inline-block; */
    height: 80px;
    /* text-align: center; */
    /* align-items: baseline; */
    /* display: inline-block; */

}

#description_add * {
    margin-top: 20px;
}

#description_area2 {
    grid-area: dArea2;
}


body {
    margin: 0%;
    /* background-color: rgb(8, 143, 143); */
    background: black;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: 
    "header header search"
    "navBar tvShows tvShows"
    /* "navBar tvShows tvShows" */
    "navBar movies movies"
    "footer footer footer"
    ;
}


@media screen and (min-width: 900px) {
    body {
        margin: 0%;
        /* background-color: rgb(8, 143, 143); */
        background: black;
        display: grid;
        grid-template-columns: 35% 35% 30%;
        grid-template-areas: 
        "header navBar search"
        "tvShows tvShows tvShows"
        "movies movies movies"
        "footer footer footer"
        ;
    }
    #description_body {
        /* margin: 0%; */
        /* background-color: rgb(8, 143, 143); */
        /* background: blue; */
        display: grid;
        /* grid-row-gap: 0; */
    
    
        grid-template-columns: 30% 40% 30%;
        grid-template-areas: 
        "header navBar search"
        "dImg dArea dArea2"
        /* "dImg dArea dArea2" */
        /* "dImg dArea dButtons" */
        "footer footer footer"
        ;
    }
    .otherBody {
        margin: 0%;
        /* background-color: rgb(8, 143, 143); */
        background: black;
        display: grid;
        grid-template-columns: 14% 56% 30%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header navBar search"
        "addDiv tvShows tvShows"
        "addDiv movies movies"
        "footer footer footer"
        ;
    }
    #navBar {    
        /* changed! */
        text-align: end;
        background-color: teal;
    }
    
    #navBar a {
        /* changed! */
        /* font-size: 20px; */
        display: inline-block;
        /* overflow: scroll; */

    }
    #currentSite {
        /* changed! */
        background-color: rgb(1, 119, 119);
    }
    #navBar {
        text-align: end;
        padding: 5px 0px 1px 0px;
    }

    header {
        text-align: start;
    }
    header h1 {
        margin-left: 20px;
    }
    #searchDiv {
        grid-area: search;
        padding: 23px 0px 7.5px 0px;
    
        /* changed! */
        text-align: center;
        background-color: teal;
    
        /* background-color: black; */
        /* align-self: baseline; */
        /* text-align: end; */
        /* overflow: hidden; */
    }


}


@media screen and (min-width: 1200px) {
    #description_body {
        /* margin: 0%; */
        /* background-color: rgb(8, 143, 143); */
        /* background: blue; */
        display: grid;
        /* grid-row-gap: 0; */
    
    
        grid-template-columns: 30% 40% 10% 20%;
        grid-template-areas: 
        "header navBar search search"
        "dImg dArea dArea dArea2"
        /* "dImg dArea dArea2" */
        /* "dImg dArea dButtons" */
        "footer footer footer footer"
        ;
    }
    #navBar a {
        font-size: 20px;
    }
    #navBar {
        padding: 0px 0px 1px 0px;

    }
}